{% extends 'base.html' %}

{% block title %}
  {% if post %}
    Editar Post: {{ post.titulo }}
  {% else %}
    Criar Novo Post
  {% endif %}
{% endblock title %}

{% block content %}
  {% if post %}
    <h1>Editar Post</h1>
  {% else %}
    <h1>Criar Novo Post</h1>
  {% endif %}

  <form method="POST" action="">
    {% csrf_token %}
    
    {{ form.as_p }}  <br>
    
    <button type="submit">Salvar Post</button>
  </form>

  <br>
  {% if post %}
    <a href="{% url 'post_detail' post.pk %}">Cancelar</a>
  {% else %}
    <a href="{% url 'post_list' %}">Cancelar</a>
  {% endif %}

{% endblock content %}